# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Vidya Sagar\Desktop\IIIT Banglore\Front_end\ReactJS_Assignment\movieapp-master\SpringUpgrad\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
